
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cocktail time!</title>
</head>
<body>
<header>

  <h1> Cocktail time! </h1>

</header>
<div class="container">

  <nav>

  </nav>

  <main>

  </main>

  <aside>

  </aside>

  <div class="content">

  </div> <!--  content -->


  <div class="container text-center pt-3">

    <%= link_to "Add a Cocktail" , new_cocktail_path, class: "btn btn-success" %>
    <%= link_to "All Cocktails" , cocktails_path, class: "btn btn-primary" %>
  </div>

<div> <!--  container -->

<footer>
</footer>

</body>
</html>
